@use "sass:color";
@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
$dark-blue: #0a1d2e;
$gold-light: #d8a865;
$gold-soft: #ad833c;
$white-smoke: rgba(255, 255, 255, 0.9);
body, html {
  margin: 0;
  padding: 0;
    font-family: 'Playfair Display', serif;
  color: $gold-light;
}

.envelope {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/home_vertical.png'); // Imagen por defecto (portrait)
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease;

  button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $gold-light;
    color: $blue-dark;
    font-size: 1rem;
    border: none;
    padding: 0.2rem 0.2rem;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1rem
;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s;

      &:hover {
        background-color: color.adjust($dark-blue, $lightness: -10%);
        color: #ffff;
      }
  }
}

// 📱 Vista vertical (portrait)
@media screen and (orientation: portrait) {
  .envelope {
    background-image: url('../assets/home_vertical.png');

    button{
      margin-bottom: 9rem;
    }
  }
}

// 🖥️ Vista horizontal (landscape)
@media screen and (orientation: landscape) {
  .envelope {
    background-image: url('../assets/home_horizontal.png');

        button{
      margin-bottom: 2rem;
    }
  }
}
