// Paleta de boda
$blue-dark: #142740 !default;
$blue-mid: #163255;
$gold-soft: #ad833c !default;
$gold-deep: #865e31 !default;
$gold-light: #d8a865 !default;
$navy: #04162a !default;
$blue-light: #022e55 !default;
$color-button: #996633;
$button-color-home : #d8a865;
$dorado: #c99042;
